@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>BEM VINDO, ALUNO!</h1>
    <div class="w-50 mt-5">
        <a class="btn btn-md btn-outline-info" asp-controller="Cursos" asp-action="Index">VER CURSOS</a>
        
        <a class="btn btn-md btn-info text-white" asp-controller="Cursos" asp-action="Cadastrar">CADASTRAR CURSO</a>
    </div>
</div>
